<article class="ui card segments aide">
    <h3 class="ui segment">{{ name }}</h3>

    {{#if benefit}}
        <div class="ui inverted teal segment benefit">
            {{> benefit benefit }}
        </div>
    {{/if}}

    {{#if conditions}}
        <div class="ui segment">
            Pour en bénéficier, vous devez :
            <ul>
                {{#each conditions as |condition|}}
                    <li>{{{ condition }}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    <div class="ui segment">
        {{#if url}}
            <a href="{{ url }}">Découvrir {{ prefix }} {{ acronym }}</a>
        {{/if}}
    </div>
</article>
