<title>{{ title }} — {{ name }}</title>
<meta property="og:site_name" content="{{ name }}">
<meta name="twitter:title" content="{{ title }}">
<meta property="og:title" content="{{ title }}">
<meta name="apple-mobile-web-app-title" content="{{ title }}">
<meta name="application-name" content="{{ title }}">

<meta name="description" content="{{ description }}">
<meta name="twitter:description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">

<meta property="og:url" content="{{ url }}">

<meta property="og:image" content="{{ logo }}">
<meta name="twitter:image" content="{{ logo }}">

<meta property="og:type" content="">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@MesAides">
